*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-image: url('https://img.freepik.com/premium-photo/glass-wine-with-grapes-sunny-background-ai_564714-3181.jpg');
    background-repeat: no-repeat;
    background-size: cover;   
}

/* MENU' */
nav{
   width: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;;
   border-bottom: 5px black solid;
   background-color: darkred;
   padding: 20px;
}
.menu{
    text-align: center;
    color: white;
}
/* MENU LISTA*/
.menu li{
    display:inline-block;
    position: relative;
}

/* MENU LINK */
.menu a{
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-style: italic;
    background-color: darkred;

}
/* SOTTOMENU */
.sottomenù{
    position:absolute;
    top: 60px;
    left: 0;
    border-bottom: none;
    visibility: hidden;
    opacity: 0;
   
}
ul.sottomenù{
    padding: 0;
}
.menu .has-children:hover .sottomenù{
    transition:.1s;
    visibility: visible;
    opacity: 1;
    top: 60px;
}

.sottmenù li{
    width: 50px;
    font-size: 12px;
    
}

.sottomenù a{
    color: white;
    border: 2px solid black;
}

.sottmenù a:hover{
    background:moccasin;
    color:darkred;
}

/* .menu ul .sottomenù li{
    display: block;
} */

.titolo{
    text-align: center;
    color: white;
    background-color: darkred;
    font-size: 25px;
    margin-inline-start: auto;
    margin-top: 10px;
    margin-left:  30% ; 
    margin-right: 30% ;


   /*  width: 95%; */
}
/* PAGINA CHI SIAMO  */
.paragrafo-chisiamo p{
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-variant: small-caps;
}


.paragrafo-chisiamo h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-variant: small-caps;
    margin: 10px;
}

.sfondo-chisiamo{
    background-image: url('/enoteca/img/chisiamo-sfondo.png');
}

.img-chisiamo{
    text-align: center;
}
.img-chisiamo {
  display: flex;
  justify-content: center;
}

.img-chisiamo img {
  display: block;
  margin: 20px;
  width: 200px; /* Imposta una larghezza fissa */
  height: auto; /* Mantieni la proporzione originale */
}
/* .bicchiere-vino img{
    padding: 20px;
    width: 10%;
} */



/* PAGINA CONTATTI */
.info-contatti{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}
.recapiti  {
    color: black;
    text-align: center;
    font-size: 25px;
    margin: 30px;
    padding: 10px;
    background-color:bisque;
    height: 70%;
    width: 70%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* .recapiti {
   
    font-size: 22px;
    margin: 0;
    margin-left: 30px;
    background-color: aliceblue;
    
} */


/* .modulo-contatto h1 {
    color: black;
    text-align: left;
    font-size: 50px;
} */

.modulo-contatto{
    margin: 30px;
    padding: 10px;
    background-color:bisque;
    width: 70%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.modulo-contatto input {
  padding: 10px;
  border-radius:15px;
}
#submit{
    color:black;
    padding: 20px;
    width: 20%;
    font-size: 15px;
    border-radius:15px;
}



/*PAGINA NEGOZI */
.TestoStandard {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bolder;
}
.enoteche{ 
    display: inline-block;
    margin: 20px;
    text-align: center;
    margin-inline-start: 10%;
    background-color: beige;
    padding: 60px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url('https://img.freepik.com/free-photo/red-wine-bottle-grapes_23-2148232185.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    
    
}

.enoteche p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    font-size: 25px;
    padding: 12px;
    border-bottom: 2px solid black;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    background-color: darkred;
}


.enoteche h1{
    color: white;
    font-weight: bolder;
    border-top: 2px solid black;
    padding : 20px;
    border-radius: 10px;
    background-color: darkred;
      
}
/* REGIONI */
/* .container-categorie{
   display:grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 70px;
   margin: 90px;
   padding-left:18%;
} */
/* .categoria-regioni{
    padding: 80px;
    border: 4px white solid;
    background-color: darkred;
    box-shadow: 10px 10px 10px;
    width: 70%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}  */
/* .categoria-regioni h2 a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    font-style: italic;
    font-variant: small-caps;
    text-decoration: none;
} */

/* REGIONI CON ANIMAZIONE */
.container-categorie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
    margin: 90px;
    padding-left: 18%;
 }
 
 .categoria-regioni {
    padding: 80px;
    background-color: darkred;
    box-shadow: 10px 10px 10px;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.categoria-regioni:hover {
    transform: perspective(500px) rotateY(10deg) scale(1.05);
}


.categoria-regioni h2 a {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 25px;
     text-align: center;
     color: white;
     font-style: italic;
     font-variant: small-caps;
     text-decoration: none;
 }
 



/* SERVIZI CON ANIMAZIONE */

.categoria-servizi {
    padding: 80px;
    /* border: 4px white solid; */
    background-color: darkred;
    box-shadow: 10px 10px 10px;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    /* Proprietà per l'effetto 3D */
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.categoria-servizi:hover {
    transform: perspective(500px) rotateY(10deg) scale(1.05);
}

.categoria-servizi h2 a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    font-style: italic;
    font-variant: small-caps;
    text-decoration: none;
}


/* PAGINA REGIONI */
.regioni{
    text-align: center;
    color: white;
}

/* .regioni li{
    display: inline-block;
    padding: 15px;
    font-size: 30px;
    margin-left: 10px;
    background-color: darkred;
    padding: 50px;
    box-shadow: 10px 10px 10px black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-variant: small-caps;
} */

/* RIQUADRI REGIONI ANIMAZIONE */
.regioni li {
    display: inline-block;
    padding: 50px;
    font-size: 30px;
    margin-left: 10px;
    background-color: darkred;
    box-shadow: 10px 10px 10px black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.regioni li:hover {
    transform: translateY(-10px);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.6);
}


.paragrafo-regioni{
    text-align: center;
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    
}
.calabria{
    background-image: url('https://static.thenounproject.com/png/1019411-200.png');
    background-size: contain;
    background-repeat: no-repeat;
}
/* link */
.calabria a{
    text-decoration: none;
    color: white;
}

.sicilia{
    background-image: url('depositphotos_43297697-stock-illustration-map-of-sicily-Photoroom.png-Photoroom.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.sicilia a{
    text-decoration: none;
    color: white;
}

.basilicata{
    background-image: url('https://static.thenounproject.com/png/1019408-200.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.basilicata a{
    text-decoration: none;
    color: white;
}

.toscana{
    background-image: url('https://static.thenounproject.com/png/238981-200.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.toscana a{
    color: white;
    text-decoration: none;
}
.piemonte{
    background-image: url('https://als-fattore2a.org/wp-content/uploads/2019/01/piemonte-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.piemonte a{
    color: white;
    text-decoration: none;
}

.veneto{
    background-image: url('map-veneto-vector-28397869-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.veneto a{
    text-decoration: none;
    color: white;
}

/* PAGINA VINI CALABRIA */
/* .vini-calabria{
   text-align: center;
   margin-inline-start: 15%;
   width:70%;
} */

.vini-calabria {
    text-align: center;
    margin: 0 auto; /* centra la tabella */
    width: 50%;   /* occuperà l'intera larghezza del contenitore */
 }
 
.vini-calabria th{
    background-color: darkred;
    border: 3px groove white;
    font-size: 40px;
    color:white;
    text-align: center;
}

.vini-calabria td{
    background-color: darkred;
    border: 3px groove white;
    font-size: 25px;
    color: white;
}
.vini-calabria img{
    width: 50%;
    margin: 15px;
    box-shadow: 10px 10px 10px black;
}
.seconda-tabella{
    width: 10%;
}
.tabella-vini{
    text-align: center;
}

/* .Vino-Muranera p{
    
    font-size: 15px;
    text-align: center;
}
.Vino-Muranera img{
    width: 10%;
}
.titolo-vini-calabria{
    text-align: center;
} */
/* BASILICATA VINI */
.container-vini-basilicata{
    display:grid;
    grid-template-columns: repeat(4 ,1fr);
}

/* PAGINA ORDINI */
.container-ordini{
    padding: 30px;
    text-align: left;
}

.wrapper-ordini{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 30px;
}

.wrapper-ordini h2{
    text-align: left;
    font-size: 36px;
    color:black;
}
.form-ordini{
    text-align: left;
    margin-bottom: 30px;
    padding: 20px;
    width: 90%;
}

.form-ordini input {
    padding: 30px;
    width: 30%;
    height: 50%;
    border: 2px darkred solid;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: none;
    background-color:ghostwhite;
}

button{
    padding: 20px;
    width: 10%;
    border-radius: 10px;
    display: inline-block;
    border:none;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 10px;
    background-color: ghostwhite;
    border: 2px darkred solid;
}
button:hover{
    background-color:white;
}

select{
    padding: 20px;
    margin-top: 10px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color:ghostwhite;
    border: 2px darkred solid;
}



/* PAGINA OFFERTE */
.form-offerte{
    background-color: beige;
    margin: 20px;
    width: 40%;
    padding: 40px;
    
}

/* PAGINA SERVIZI  */
.container-servizi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: bisque;
    width: 50%;
    align-items: center;
    padding: 50px;
    margin: 10px;
    margin-inline-start: 25%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.servizi h1{
    text-align: center;
    font-size: 30px;
}
.servizi p{
    text-align: center;
    margin: 10px;
    font-size: 30px;
}

.titolo-servizi{
  color: black;
  text-align: center;
  font-size: 40px;
 
 
}
/* .container-servizi p{
    text-align: center;
    font-size: 30px;
} */ 

/* PAGINA DOVE SIAMO */

.container-mappa{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);


}
.paragrafo-mappa{
    font-size: 20px;
    text-align: center;
    margin-inline-end: 30%;
}
.paragrafo-mappa h1{
    font-size: 40px;
    margin: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-variant: small-caps;
}
.paragrafo-mappa p {
    /* margin: 3%; */
    font-size: 25px;
    background-color: beige;
    padding: 15px;
   /*  border-bottom: 3px black solid; */
   /*  border-right: 3px black solid; */
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    padding-left: 15%;
}

.paragrafo-mappa img{
    width: 50%;
    margin-inline-start:20%;

}
.mappa img {
    width: 80%;
    margin: 80px;
}

.ScontoVini{
    color: white;
}

/* LINGUA SITO */
.lang-it img{
width: 50px;
float: right;
margin-top: 10px;
}
.lang-en img{
    width: 50px;
    float: right;
    margin-top: 10px;
}


/* MEDIA */

@media (max-width: 768px) {
  /* stili per dispositivi mobili */
}

@media (max-width: 1024px) {
  /* stili per tablet */
}

@media (min-width: 1200px) {
  /* stili per desktop */
}